#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: var(--tertiary-color-light);
    border: none;
    border-radius: 100%;
    outline: none;
    box-shadow: 0.5rem 1rem 5rem rgba(0, 20, 30, 0.25);
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.1);
    transition: transform 0.4s ease-in-out;
}

#nav-toggle:active {
    transform: translateX(-50%) scale(0.9);
    transition: transform 0.4s ease-in-out;
}

#nav-toggle i {
    color: var(--main-color);
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    transition: transform,opacity 0.4s ease-in-out;
}

body:not([data-nav="true"]) #nav-toggle:hover .nav-open {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform,opacity 0.4s ease-in-out;
}

body[data-nav="true"] #nav-toggle .nav-close {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform,opacity 0.4s ease-in-out;
}

body[data-nav="true"] #nav-toggle {
    transform: translate(-50%, -50vh);
}

body[data-nav="true"] .container {
    transform: translateY(-50%);
}

.container {
    transition: transform 0.4s ease-in-out;
}

nav {
    height: 50vh;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    /* gap: clamp(1rem, 2vw, 2rem); */
    margin: clamp(2rem, 2vw, 3rem) 0;
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(50%) scale(0.5);
    transition: transform 0.4s ease-in-out;
}

body[data-nav="true"] nav #nav-links {
    transform: translateY(0%) scale(1);
}

body[data-nav="true"] #permas,  body[data-nav="true"] .grid_container {
    animation-play-state: paused;
}

#nav-links .nav-link .nav-link-label {
    font-size: 1.5rem;
    margin: 0;
}

#nav-links .nav-link .nav-link-image {
    width: clamp(10vw, 18vw, 20vw);
    height: 100%;
    border-radius: 1rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

@media screen and (max-width: 1120px) {

    nav {
        flex-direction: column;
        left: auto;
        bottom: auto;
        top: 0;
        right: 0;
        height: 100%;
        width: 50vw;
    }

    #nav-links {
        flex-direction: column;
        padding: clamp(1rem, 2vh, 2rem) 0;
        margin: 0 clamp(2rem, 2vw, 3rem);
        transform: translate(-50%, 0%) scale(0.5);
        width: 40vw;
        height: 100%;
        align-items: top;
    }

    #nav-links .nav-link .nav-link-image {
        height: clamp(6vh, 12vh, 18vh);
        width: 100%;
    }

    body[data-nav="true"] #nav-toggle {
    transform: translate(-35vw, 0);
    }

    body[data-nav="true"] .container {
        transform: translate(-50%, 0%);
    }

    body[data-nav="true"] .logo {
        transform: translateX(-100%);
    }
  
}