:root {
    --main-color: #24201e;
    --accent-color: #302924;
    --tertiary-color: #9ac563;
    --tertiary-color-light: #ccd88d;
    --body-text-color: #F0EAD2;
    --text-shadow-1: rgba(0, 255, 0, 0.15);
    --text-shadow-2: rgba(255, 0, 255, 0.1);
}

body, .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--accent-color);
    color: var(--body-text-color);
    overflow: hidden;
}

/* Scrollbar */
html::-webkit-scrollbar {
    appearance: none; /* Safari */
      width: 0; /* Chrome */
    height: 0;
}

.container {
    /* background-image: url("https://images.unsplash.com/photo-1672426142068-c2103a852426?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"); */
    background-color: var(--main-color);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    color: var(--body-text-color);
}

.content {
    height: 100vh;
    width: 100vw;
}

.stream-links {
    font-size: 2rem;
    width: clamp(10vw, 15vw, 20vw);
    gap: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0.25rem 0.3rem 1rem rgba(0, 20, 30, 0.5);
    z-index: 10;
    padding: 0 clamp(1rem, 2vw, 2rem);
}

.stream-links .link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.link {
    color: var(--body-text-color);
    text-decoration: none;
}

.links {
    z-index: 10;
    width: 100vw;
    height: 7.5vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links::after {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-color) 125%);
    width: 100vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    /* opacity: 0.5; */
}

.color-mode {
    background: transparent;
    border: none;
    color: var(--body-text-color);
    cursor: pointer;
    padding: 0 clamp(1rem, 2vw, 2rem);
    font-size: 2rem;
    text-shadow: 0.25rem 0.3rem 1rem rgba(0, 20, 30, 0.5);
    z-index: 10;
}

.color-mode i {
    width: 100%;
    text-align: center;
}

.logo {
    color: var(--accent-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20vw;
    opacity: 0.5;
    transition: transform 0.4s ease-in-out;
}

.logo .icon-logo {
    animation: none!important;
}

.grid_container {
    display: grid;
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(3, 30vw);
    padding: 0 3vw;
    gap: 0 2vw;
    align-items: center;
    bottom: -100vh;
    z-index: 5;

    animation-name: start-up;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;

    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

.grid_container div:nth-child(1) {
    animation-duration: 26s;
}

.grid_container div:nth-child(2) {
    animation-duration: 21s;
}

.grid_container div:nth-child(3) {
    animation-duration: 23s;
}

#permas {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.5s;
}

#permas img{
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 5vh;
}

@keyframes start-up {
    0% {
        transform: translateY(0);
    }
  
    100% {
    transform: translateY(-100vh);
    }
}

@keyframes scroll {

    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-50%);
    }
}

@media screen and (max-width: 1120px) {

    .links {
        z-index: 10;
        width: 100vw;
        height: 7.5vh;
        position: absolute;
        bottom: auto;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .links::after {
        content: '';
        background: linear-gradient(var(--main-color) -25%, rgba(0, 0, 0, 0) 100%);
        width: 100vw;
        height: 20vh;
        position: absolute;
        bottom: auto;
    }

}

@media all and (max-width: 768px) {
    .grid_container {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 20vh);
        padding: 10vh 0;
        gap: 2vh 0;
        bottom: 0;
        height: 100vh;
        right: -100vw;
    }

    #permas {
        flex-direction: row;
        height: 100%;
        width: auto;
        justify-content: baseline;
    }

    #permas img{
        margin-bottom: 0;
        margin-right: 5vw;
    }

    .grid_container div:nth-child(1) {
        animation-duration: 16s;
    }
    
    .grid_container div:nth-child(2) {
        animation-duration: 11s;
    }
    
    .grid_container div:nth-child(3) {
        animation-duration: 13s;
    }

    @keyframes start-up {
        0% {
            transform: translateX(0);
        }
      
        100% {
        transform: translateX(-100vw);
        }
    }
    
    @keyframes scroll {
    
        0% {
          transform: translateX(0);
        }
    
        100% {
          transform: translateX(-50%);
        }
    }
}

@media all and (min-width:481px) and (max-width: 568px) {
/* put your css styles in here */
}

@media all and (min-width:321px) and (max-width: 480px) {
/* put your css styles in here */
}

@media all and (min-width:0px) and (max-width: 320px) {
/* put your css styles in here */
}