/* art section */
.art_home {
    background-image: url("./images/art_background.png");
}

.art_container {
    background: var(--main-color);
}

.art_container2 {
    background: var(--accent-color);
}

.art_heading2 {
    text-align: center;
    color: var(--accent-color-light);
    font-size: 3rem;
    font-weight: 900;
}

.art_content {
    padding: 10rem 1rem 7.5rem 1rem;
    /* margin-top: 7.5rem; */
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.art_heading {
    font-size: 3rem;
    color: var(--tertiary-color-light);
    font-weight: 900;
}

.art_text {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding: 2rem;
}

.art_description {
    font-size: 1.25rem;
    font-weight: 350;
}

.art_description .icon{
    font-size: 2rem;
    margin-left: 0!important;
}

.artist_name {
    font-size: 1.5rem;
    font-weight: 400;
}


.art_img--container {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: minmax(1rem, 6rem) repeat(3, minmax(12rem, 360px)) minmax(1rem, 6rem);
    justify-content: center;
    align-content: center;
}

.art_col1 {
    grid-column-start: 2;
}

.art_col1large {
    grid-column-start: 2;
    grid-column-end: 4;
}

.art_col2 {
    grid-column-start: 3;
}

.art_col3 {
    grid-column-start: 4;
}

.art_row1 {
    grid-row-start: 1;
}

.art_row2 {
    grid-row-start: 2;
}

.art_row3 {
    grid-row-start: 3;
}

.art_row4 {
    grid-row-start: 4;
}

.art_img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 100%;
}

.art_description {
    color: white;
    position: absolute;
    max-width: 300px;
    padding: 1rem;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.art_description br{
    content: "";
    display: block;
    margin: 1rem;
}

.art_img img, .art_img a {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.art_img:hover img, .art_img:hover a {
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.art_img:hover img {
    transform: scale(1.1);
}

.art_img:hover.fade img{
    opacity: 5%;
    transition: all 0.3s ease-in-out;
}

.art_img:hover .art_description {
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 960px) {

    /* .art_content{
        height: 150vh;
    } */
    
    .art_img--container {
        display: grid;
        margin: 2rem 0;
        grid-template-columns: minmax(0.25rem, 1rem) repeat(2, minmax(6rem, 1fr)) minmax(0.25rem, 1rem);
        grid-gap: 1rem;
        height: 85%;
        width: 100%;
        justify-content: center;
        padding: 2rem;
    }

    .art_description {
        color: white;
        position: absolute;
        max-width: minmax(6rem, 1fr);
    }

    .art_row1.art_col1 {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    
    .art_row1.art_col2 {
        grid-row-start: 1;
        grid-column-start: 3;
    }

    .art_row1.art_col3 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    
    .art_row2.art_col1 {
        grid-row-start: 2;
        grid-column-start: 3;
    }

    .art_row2.art_col2 {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    
    .art_row2.art_col3 {
        grid-row-start: 3;
        grid-column-start: 3;
    }
    
    .art_row3.art_col1 {
        grid-row-start: 4;
        grid-column-start: 2;
    }

    .art_row3.art_col1large {
        grid-row-start: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .art_row3.art_col2 {
        grid-row-start: 4;
        grid-column-start: 3;
    }

    .art_row3.art_col3 {
        grid-row-start: 5;
        grid-column-start: 2;
    }
    
    .art_row4.art_col1 {
        grid-row-start: 5;
        grid-column-start: 3;
    }

    .art_row4.art_col2 {
        grid-row-start: 6;
        grid-column-start: 2;
    }
    
    .art_row4.art_col3 {
        grid-row-start: 6;
        grid-column-start: 3;
    }
    
    
    .art_row5.art_col1 {
        grid-row-start: 7;
        grid-column-start: 2;
    }
    
    .art_row5.art_col2 {
        grid-row-start: 7;
        grid-column-start: 3;
    }

    .art_row5.art_col3 {
        grid-row-start: 8;
        grid-column-start: 2;
    }
    
    .art_row6.art_col1 {
        grid-row-start: 8;
        grid-column-start: 3;
    }

    .art_row6.art_col2 {
        grid-row-start: 9;
        grid-column-start: 2;
    }
    
    .art_row6.art_col3 {
        grid-row-start: 9;
        grid-column-start: 3;
    }

    .art_row7.art_col1 {
        grid-row-start: 10;
        grid-column-start: 2;
    }

    .art_row7.art_col2 {
        grid-row-start: 10;
        grid-column-start: 3;
    }
    .art_row7.art_col3 {
        grid-row-start: 11;
        grid-column-start: 2;
    }
    
    .art_row8.art_col1 {
        grid-row-start: 11;
        grid-column-start: 3;
    }

    .art_row8.art_col2 {
        grid-row-start: 12;
        grid-column-start: 2;
    }
    
    .art_row8.art_col3 {
        grid-row-start: 12;
        grid-column-start: 3;
    }

    .art_img img {
        height: 100%;
        /* max-height: 100%; */
    }
}