@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDaa-Hairline.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDab-HairlineItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDac-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDad-ExtraLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDae-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDaf-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDag-Book.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDah-BookItalic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDai-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDaj-RegularItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDak-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDal-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDam-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDan-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDao-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDap-HeavyItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDaq-UltraBold.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Clemente;
    src: url(./fonts/ClementePDar-UltraBoldItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
}

/* html:before {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://i.imgur.com/xUZe0jJ.png);
    content: "";
    height: 3000px;
    width: 3000px;
    left: -50%;
    opacity:.2;
    position: fixed;
    top: -110%;
    width: 300%;
    pointer-events:none;
} */

body::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 999999999999999999999999;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 999999999999999999999999;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

p, a, h1, h2, h3, h4, h5, button, span{
    animation: textShadow 1.6s infinite;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Clemente', sans-serif;
    scroll-behavior: smooth;
    --main-color: #111;
    --main-color-light: #222;
    --main-color-highlight: #333;
    --accent-color: #281644;
    --accent-color-light: #7a51a1;
    --tertiary-color: #14655b;
    --tertiary-color-light: #62d672;
}

html, body {
    max-width: 100%;
    background-color: var(--main-color);
}

html {
    font-size: 16px;
}

/*scrollbar*/
::-webkit-scrollbar {
	width: 0;
    height: 0;
}

/*intro screen*/
.intro {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
}

.intro_logo {
    position: absolute;
    display: flex;
    top: 40%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: var(--tertiary-color-light);
}

.logo_span {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    bottom: 10vh;
    opacity: 0;
    font-size: 10vh;
    font-weight: 900;
    pointer-events: none;
}

.logo_span.active {
    bottom: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.logo_span.fade {
    bottom: -40vh;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/*navbar*/

.navbar {
    background: var(--main-color);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar_container {
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    color: var(--tertiary-color-light);
    /* background-color: var(--tertiary-color-light);
    background-image: linear-gradient(to top, var(--tertiary-color) 0%, var(--tertiary-color-light) 75%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text; */
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
}

/* #navbar_logo img {
    height: 1.5rem;
    color: var(--tertiary-color);
    padding-right: 6px;
    cursor: pointer;
} */

#navbar_logo:hover {
    font-size: 4rem;
    transition: all 0.3s ease-in-out;
}

.fa-logo {
    margin-right: 0.5 rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.navbar_links:hover {
    color: var(--tertiary-color-light);
    background-color: var(--main-color-highlight);
    padding: 0 2rem;
    transition: all 0.3s ease-in-out;
}

.navbar_links:active {
    color: var(--accent-color-light);
    background: var(--accent-color);
    transition: all 0.05s ease-in-out;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: var(--tertiary-color-light);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
}

.button:hover {
    background: var(--main-color-highlight);
    font-size: 1.75rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.button:active {
    color: var(--accent-color-light);
    background: var(--accent-color);
    transition: all 0.3s ease-in-out;
}

.link {
    text-decoration: none;
    color: var(--tertiary-color-light);
    transition: all 0.3s ease-in-out;
}

.link:hover {
    color: var(--tertiary-color);
    transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 960px) {

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        height: 50vh;
        z-index: -1;
        background: var(--main-color);
    }

    .navbar_menu.active {
        background: var(--main-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        z-index: 99;
        height: 65vh;
        font-size: 1.6rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    div.navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
        z-index: 999;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_links:hover {
    color: var(--tertiary-color-light);
    background-color: var(--main-color-highlight);
    padding: 2rem 2rem;
    transition: all 0.3s ease-in-out;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        border-radius: 32px;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* home splash screen */

.home {
    background-color: var(--main-color);
    padding: 200px, 0;
}

.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    padding: 2rem;
}

.home_rali-text {
    display: flex;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent 25%, var(--main-color-highlight) 35%, var(--tertiary-color) 40%, var(--tertiary-color) 60%, var(--main-color-highlight) 65%, transparent 75%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home_rali-text span {
    font-size: 7rem;
    margin-bottom: 24px;
    padding: 0 .5rem;
}

.home_heading {
    font-size: 15rem;
    font-weight: 900;
    margin-bottom: 24px;
    color: var(--tertiary-color-light);
}

.home_description {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    width: 100%;
}

.home_desc2 {
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: .1rem;
}

.highlight {
    border-bottom: .25rem solid var(--accent-color);
}

@media screen and (max-width: 768px){
    html {
        font-size: 14px;
    }
}

.home_links--container {
    margin: 2rem 0;
}

.home_btn--container {
    z-index: 2;
    text-decoration: none;
}

.home_btn--container.link {
    font-size: 1.5rem;
    margin: 0 2rem;
    padding: 14px, 32px;
}

.home_btn {
    font-size: 1.5rem;
    background-color: transparent;
    padding: 14px, 32px;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 18rem;
    height: 3rem;
    border-radius: 2rem;
    color: var(--tertiary-color-light);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.home_btn:after {
    position: absolute;
    align-items: center;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5%;
    background: var(--tertiary-color-light);
    transition: all 0.3s ease-in-out;
    border-radius: 2rem;
}

.home_btn:hover {
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.home_btn:hover:after {
    align-items: center;
    left: 10%;
    width: 80%;
}

.home_btn:active {
    background-color: var(--accent-color);
    color: var(--accent-color-light);
}

.home_btn:active:after {
    background: var(--accent-color-light);
}

.home_img--container {
    text-align: center;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 10px;
    }
}

/* about section */

.about_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    padding-top: 10rem;
    padding-bottom: 7.5rem;
}

.about_content {
    max-width: 1300px;
}

.about_img {
    width: auto;
    max-width: 50%;
    float: left;
    padding: 1rem 3rem;
}

.about_img img {
    margin-top: 8vh;
    width: 100%;
    max-height: 640px;
    border: 1rem solid var(--accent-color-light);
    border-radius: 100%;
}

.about_text {
    height: 100%;
    width: 50%;
    float: right;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
    flex: 50%;
    padding: 1rem 3rem;
}

.about_heading {
    text-align: center;
    color: var(--accent-color-light);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: -2rem;
}

@media screen and (max-width: 960px) {
    
    .about_container {
        height: 100vh;
    }

    .about_img img {
        margin-top: 0;
    }

    .about_text {
        float: none;
        width: auto;
    }

    .about_heading {
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: -1rem;
    }
}

/* art section */

.art_container {
    background: var(--main-color);
}

.art_content{
    padding-top: 10rem;
    padding-bottom: 7.5rem;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    text-align: center;
    overflow: hidden;
}

.art_heading {
    font-size: 3rem;
    color: var(--tertiary-color-light);
    font-weight: 900;
}

.art_text {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding: 2rem;
}

.art_img--container {
    margin-top: -3.75rem;
    width: 100%;
    height: 75vh;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(5, minmax(24rem, 1fr));
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.art_row1{
    grid-column-start: 2;
}

.art_row2{
    grid-column-start: 3;
}

.art_row3{
    grid-column-start: 4;
}

.art_img img {
    max-width: 100%;
    height: auto;
    max-height: 30vh;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.art_img img:hover {
    transform: scale(1.25);
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 960px) {

    .art_content{
        height: 150vh;
    }
    
    .art_img--container {
        display: grid;
        margin: 5rem 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(16rem, 1fr));
        grid-gap: 1rem;
        height: 85%;
        width: 100%;
        justify-content: center;
        padding: 2rem;
    }

    .art_row1 {
        grid-row-start: 1;
    }
    
    .art_row2 {
        grid-row-start: 2;
    }
    
    .art_row3 {
        grid-row-start: 3;
    }

    .art_col1 {
        grid-column-start: 1;
    }

    .art_col2 {
        grid-column-start: 2;
    }
    
    .art_img img {
        width: auto;
        height: auto;
        max-height: 100%;
    }
}

/* music section */

.music_container {
    background: var(--accent-color);
}

.music_content {
    /* padding-top: 10rem;
    padding-bottom: 7.5rem;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden; */
    padding: 10rem 2rem 7.5rem 2rem;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.music_text {
    height: 100%;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    flex: 50%;
    padding: 1rem 2rem;
}

.music_heading {
    text-align: center;
    color: var(--accent-color-light);
    font-size: 3rem;
    font-weight: 900;
    /* margin-bottom: -2rem; */
}

.music_emb--container {
    /* margin-top: -45rem;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(480px, 1fr));
    justify-content: center;
    align-content: center; */
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, minmax(480px, 1fr));
    justify-content: center;
    align-content: center;
}

.music_song {
    height: 100%;
    width: 100%;
}

.music_album iframe {
    margin-top: 4rem;
    border-radius: 16px;
    width: 100%;
    height: 450px;
}

.music_col1 {
    grid-column-start: 2;
}

.music_col2 {
    grid-column-start: 3;
}

.music_row1 {
    grid-row-start: 1;
}

.music_row1 iframe, .music_row3 iframe, .music_row5 iframe {
    height: 80px;
}

.music_row2 {
    grid-row-start: 2;
}

@media screen and (max-width: 960px) {

    .music_text {
        font-size: 1.5rem;
    }

    /* .music_content{
        height: 100vh;
    } */
    
    .music_emb--container {
        display: grid;
        /* margin-top: -45rem; */
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(fit-content, 1fr));
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        width: 100%;
        justify-content: center;
        padding: 1rem;
    }

    .music_song iframe{
        height: 190px;
    }

    .music_album iframe{
        width: 360px;
        max-height: 100%;
    }

    .music_row1 iframe{
        height: 80px;
    }

    .music_emb--container .music_row1{
        height: 80px;
    }

    .music_row1.music_col1{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .music_row2.music_col1{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    
    .music_row1.music_col2 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    
    .music_row2.music_col2 {
        grid-row-start: 4;
        grid-column-start: 1;
    }
}

/* projects section */

.projects_container {
    background: var(--main-color);
}

.projects_content{
    padding-top: 10rem;
    padding-bottom: 7.5rem;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    max-width: 1920px;
    text-align: center;
    overflow-x: hidden;
}

.projects_heading {
    font-size: 3rem;
    color: var(--tertiary-color-light);
    font-weight: 900;
}

.projects_text {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding: 2rem;
}

/* footer */

.footer_container {
    background: var(--main-color);
}

.footer_content{
    padding: .25rem 1rem;
    margin: 0 auto;
    height: 6vh;
    width: 100%;
    max-width: 1920px;
    text-align: left;
    align-content: center;
    overflow-x: hidden;
}

.footer_text {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    padding: 0;
}
