.art_img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 45vh;
    border-radius: 1rem;
    object-fit: cover;
}

.art_img.wide {
    grid-column: span 2;
}

.art_img img, .art_img a {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: var(--transition-l);
}

.art_img:hover img, .art_img:hover a {
    z-index: 0;
    transition: var(--transition-l);
}

.art_img:hover img {
    transform: scale(1.1);
}

.art_img.fade:hover img{
    opacity: 5%;
    transition: var(--transition-l);
}

.art_desc {
    position: absolute;
    max-width: 30vw;
    padding: 1rem;
    font-weight: 200;
    z-index: 0;
    transition: var(--transition-xl);
    text-align: center;
    overflow: hidden;
}

.art_desc i {
    font-weight: 300;
}

@media screen and (max-width: 960px) {
    .art_desc {
        font-size: 1rem;
    }
}